.language-switcher {
  display: flex;
  align-items: center;
  justify-content: center;
}

.language-switcher > button {
  cursor: pointer;
  background: none;
  border: none;
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.language-switcher > button:active {
  border: none;
}


.language-switcher > button > span {
  font-size: 10px;
}
